<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: header"></head>

<!-- hero-area-start -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Courses</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Courses</li>
        </ol>
    </div>
</section><!-- hero-area-end -->

<main>
    <!-- course-barup-area -->
    <div class="course-bar-up-area pt-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="course-main-wrapper mb-30">
<!--                        <div class="bar-filter">-->
<!--                            <i class="icon-filter"></i>-->
<!--                            <span>Filter</span>-->
<!--                            <span>(2)</span>-->
<!--                        </div>-->
                        <div class="corse-bar-wrapper">
                            <div class="bar-search">
                                <form action="#">
                                    <div class="bar-secrch-icon position-relative">
                                        <input type="text" placeholder="Search keyword...">
                                        <button type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="course-sidebar-tab">
                            <div class="course-sidebar-wrapper">
                                <div class="curse-tab-left-wrap">
                                    <div class="course-results">
                                        Showing <span class="course-result-showing">6</span> of <span
                                            class="course-result-number">6</span> results
                                    </div>
                                </div>
                                <div class="couse-dropdown">
                                    <div class="course-drop-inner">
                                        <select class="sm-form-control">
                                            <option value="">Newly published</option>
                                            <option value="">Most Viewed</option>
                                            <option value="">5 Star Rated</option>
                                            <option value="">Duration</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- course-barup-area-end -->

    <!-- course-content-start -->
    <section class="course-content-area pb-90">
        <div class="container">
            <div class="row mb-10">
                <div class="col-xl-3 col-lg-4 col-md-8">
                    <div class="course-sidebar-widget mb-20">
                        <div class="course-sidebar-info">
                            <h3 class="drop-btn">Categories</h3>
                            <ul>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-bus">
                                        <label class="edu-check-label" for="e-bus">Frontend Web-Dev</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-dev">
                                        <label class="edu-check-label" for="e-dev">Backend Web-Dev</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-data">
                                        <label class="edu-check-label" for="e-data">Linux</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-art">
                                        <label class="edu-check-label" for="e-art">git</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-fin">
                                        <label class="edu-check-label" for="e-fin">Python Programming</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-sidebar-list">
                                        <input class="edu-check-box" type="checkbox" id="e-mark">
                                        <label class="edu-check-label" for="e-mark">Software Testing</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-01.png" alt="courde-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-1"><a
                                           th:href="@{/details/frontend}">Frontend Web Development</a></span>
                                            <a th:href="@{/details/frontend}">
                                                <h3>Frontend Web-Development with HTML, CSS, JAVASCRIPT</h3>
                                            </a>
                                            <div class="cart-lavel">
                                                <h5>Level : <span>Beginner To Advance</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Scratch to HTML5, CSS3 & Js</li>
                                                    <li><i class="icon-check"></i>Learn how to code with IDEs</li>
                                                    <li><i class="icon-check"></i>Unlimited Vanilla Javascript</li>
                                                    <li><i class="icon-check"></i>UI/UX Designs</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a th:href="@{/details/frontend}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a th:href="@{/details/frontend}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-8" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_106" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>$12.57</span>-->
<!--                                            <del>$24.50</del>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Frontend Web-Development with HTML, CSS, JAVASCRIPT</a>
                                        </h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Danial</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-02.png" alt="course-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-3"><a
                                           th:href="@{/details/backend}">Backend Web Development</a></span>
                                            <a th:href="@{/details/backend}">
                                                <h3>Backend Web-Development with JAVA Programming Language</h3>
                                            </a>
                                            <div class="cart-lavel" >
                                                <h5>Level : <span>Beginner To Advance</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Data types, variables, and arrays</li>
                                                    <li><i class="icon-check"></i>Operators and control statements</li>
                                                    <li><i class="icon-check"></i>Java Environment and OOP concepts</li>
                                                    <li><i class="icon-check"></i>Classes and methods</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a  th:href="@{/details/backend}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a  th:href="@{/details/backend}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-35744" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_10001" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>FREE</span>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Backend Web-Development with JAVA Programming Language</a></h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Edustar</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-03.png" alt="course-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-1"><a
                                           th:href="@{/details/linux}">Linux</a></span>
                                            <a th:href="@{/details/linux}">
                                                <h3>Linux is one of the most popular Computer Systems. Android, is powered by the Linux</h3>
                                            </a>
                                            <div class="cart-lavel">
                                                <h5>Level : <span>Beginner To Advance</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Desktop Environment</li>
                                                    <li><i class="icon-check"></i>Terminal</li>
                                                    <li><i class="icon-check"></i>Linux File Structure.</li>
                                                    <li><i class="icon-check"></i>Working with Directories</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a th:href="@{/details/linux}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a th:href="@{/details/linux}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-300" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_007" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>$22.14</span>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Linux is one of the most popular Computer Systems. Android, is powered by Linux</a></h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Mark Hanry</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-04.png" alt="course-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-3"><a
                                           th:href="@{/details/cyber/security}">Cyber Security</a></span>
                                            <a th:href="@{/details/cyber/security}">
                                                <h3>the practice of protecting systems, networks, and programs from digital attacks.</h3>
                                            </a>
                                            <div class="cart-lavel">
                                                <h5>Level : <span>Beginner</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Foundation of Computing and Cyber Security.</li>
                                                    <li><i class="icon-check"></i>Endpoint Security.</li>
                                                    <li><i class="icon-check"></i> Secure Coding</li>
                                                    <li><i class="icon-check"></i>Business Infrastructure and Security.</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a th:href="@{/details/cyber/security}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a th:href="@{/details/cyber/security}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-.0" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_002" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>$147.00</span>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Git is a free and open source distributed version control system.</a>
                                        </h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Danial</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-06.png" alt="course-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-1"><a
                                           th:href="@{/details/python}">Python Programming / Data Analysis</a></span>
                                            <a th:href="@{/details/python}">
                                                <h3>Python Programming with Data Analysis</h3>
                                            </a>
                                            <div class="cart-lavel">
                                                <h5>Level : <span>Beginner To Advance</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Variables and names</li>
                                                    <li><i class="icon-check"></i>Reading and writing files</li>
                                                    <li><i class="icon-check"></i>Classes and objects</li>
                                                    <li><i class="icon-check"></i>File handling</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a th:href="@{/details/python}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a th:href="@{/details/python}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-302" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_001" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>$21.00</span>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Python Programming with Data Analysis</a></h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Junior Lucy</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="course-wrapper-2 mb-30">
                                <div class="student-course-img">
                                    <img src="assest/images/course/course-07.png" alt="course-img">
                                </div>
                                <div class="course-cart">
                                    <div class="course-info-wrapper">
                                        <div class="cart-info-body">
                                   <span class="category-color category-color-1"><a
                                           th:href="@{/details/software/testing}">Software Testing</a></span>
                                            <a th:href="@{/details/software/testing}">
                                                <h3>Software Testing is a Method To Check Whether The Actual Software Product Matches Expected Requirements</h3>
                                            </a>
                                            <div class="cart-lavel">
                                                <h5>Level : <span>Beginner To Advance</span></h5>
                                                <p>Knowledge is power. Information is liberating. Education is the premise of
                                                    progress, in every society, in every family</p>
                                            </div>
                                            <div class="info-cart-text">
                                                <ul>
                                                    <li><i class="icon-check"></i>Fundamentals of Software Testing</li>
                                                    <li><i class="icon-check"></i>Bug Advocacy</li>
                                                    <li><i class="icon-check"></i>Software Development Methodologies – Agile </li>
                                                    <li><i class="icon-check"></i>Proficiency In A Programming Language</li>
                                                </ul>
                                            </div>
                                            <div class="course-action">
                                                <a th:href="@{/details/software/testing}" class="view-details-btn">View Details</a>
                                                <button class="wishlist-btn"><i class="icon-like"></i></button>
                                                <a th:href="@{/details/software/testing}" class="c-share-btn"><i
                                                        class="icon-share"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="student-course-footer">
                                    <div class="student-course-linkter">
                                        <div class="course-lessons">
<!--                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"-->
<!--                                                 viewBox="0 0 16.471 16.471">-->
<!--                                                <g id="blackboard-303" transform="translate(-0.008)">-->
<!--                                                    <path id="Path_200" data-name="Path 101"-->
<!--                                                          d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"-->
<!--                                                          fill="#575757" />-->
<!--                                                </g>-->
<!--                                            </svg>-->
<!--                                            <span class="ms-2">12 Lessons</span>-->
                                        </div>
<!--                                        <div class="portfolio-price">-->
<!--                                            <span>$12.00</span>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="student-course-text">
                                        <h3><a href="course-details.html">Software Testing is a Method To Check Whether The Actual Software Product Matches Expected Requirements</a></h3>
                                    </div>
                                    <div class="portfolio-user">
                                        <div class="user-icon">
                                            <a href="instructor-profile.html"><i class="icon-user"></i>Mark Hanry</a>
                                        </div>
                                        <div class="course-icon">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <span>(25)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <div class="edu-pagination mt-30 mb-20">-->
<!--                            <ul>-->
<!--                                <li><a href="#"><i class="icon-angle-left"></i></a></li>-->
<!--                                <li class="active"><a href="#"><span>01</span></a></li>-->
<!--                                <li><a href="#"><span>02</span></a></li>-->
<!--                                <li><a href="#"><i class="icon-angle-right"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- course-content-end -->
</main>

<div th:replace="footer :: footer"></div>
<a target="_blank" href="https://api.whatsapp.com/send?phone=670533773&text=hello How can we be of help?" class="whatsapp-button">
    <i class="fab fa-whatsapp fab-3x"></i></a>
</body>
</html>