<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment ="dash-footer">
      <head>

      </head>
      <body>

      <div class="footer">
            <p>Welcome to Bitsvalleyilabs dashBoard.</p>
      </div>


      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJYN1Z1G71"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MJYN1Z1G71');
      </script>
      </body>
</div>
</html>