<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment ="dash-menu">

  <body class="stretched">

        <div class="col-2 menu">
          <ul>
            <li><a class="linkin" th:href="@{/contact/list}">Contact List</a></li>
            <li><a class="linkin" th:href="@{/course/add}">Add Courses</a></li>
            <li><a class="linkin" th:href="@{/student/applications}">Entry Applications</a></li>
            <li>Flyers Submits</li>
            <li><a class="linkin" th:href="@{/logout}">Sign out</a></li>
          </ul>
        </div>

  </body>
</div>
</html>