<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: header"></div>

<main>
  <!-- content-error-area -->
  <div class="content-error-area pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="content-error-item text-center">
            <div class="error-thumb">
              <h2>YOUR FLYER CONTENT WAS SENT SUCCESSFULLY!!!</h2>
            </div>
            <div class="section-title">
              <h2 class="mb-20">Will you like to send another content for a Flyer Design.</h2>
            </div>
            <div class="error-btn">
              <a th:href="@{/}" class="button button-3d button-small m-0" href="index.html">Submit Flyer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-error-end -->
</main>

<div th:replace="footer :: footer"></div>
<a target="_blank" href="https://api.whatsapp.com/send?phone=670533773&text=hello How can we be of help?" class="whatsapp-button">
  <i class="fab fa-whatsapp fab-3x"></i></a>
</body>
</html>