<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="header :: header"></div>

  <!-- hero-area-start -->
  <section id="page-title">
    <div class="container clearfix">
      <h1>Instructor Profile</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Instructor</a></li>
        <li class="breadcrumb-item active" aria-current="page">David Allberto</li>
      </ol>
    </div>
  </section><!-- hero-area-end -->

  <main>
    <!-- course-detailes-area-start -->
    <div class="course-detalies-area pt-120 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3">
            <div class="course-instructors-img mb-30">
              <img src="assest/images/course/course-instructors.png" alt="nstructors-img">
            </div>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="course-detelies-wrapper">
              <div class="course-detiles-tittle mb-30">
                <h3>David Allberto</h3>
                <span>Software Developer</span>
              </div>
              <div class="course-detiles-meta">
                <div class="total-course">
                  <span>Total Courses</span>
                  <label>22</label>
                </div>
                <div class="student course">
                  <span>Students</span>
                  <label>5,230</label>
                </div>
                <div class="review-course">
                  <span>Review</span>
                  <div class="review-course-inner d-flex">
                    <ul>
                      <li><a href="#"><i class="icon icon-star"></i></a></li>
                    </ul>
                    <p>4.9 (540)</p>
                  </div>
                </div>
                <div class="course-details-action">
                  <div class="course-follow">
                    <a href="javascript:void(0)" class="edu-follow-btn">Follow</a>
                  </div>
                  <div class="course-share">
                    <a href="#" class="share-btn"><i class="icon-share-alt"></i></a>
                  </div>
                </div>
              </div>
              <div class="course-bio-text pt-45 pb-20">
                <h3>Biography</h3>
                <p>David Allberto is a Software Developer and Instructor having enjoyed his courses to date. He
                  is the creator of Codexpand, a place of learning and growth to help people move into and be
                  successful within the Helping Industry. One of Graham's key driving forces is to remove the
                  barriers to the Helping Industry by producing high quality, accredited courses at affordable
                  prices.</p>
              </div>
              <div class="my-course-info">
                <h3>My Courses</h3>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-md-6">
                  <div class="course-wrapper-2 mb-30">
                    <div class="student-course-img">
                      <img src="assest/images/course/course-01.jpg" alt="courde-img">
                    </div>
                    <div class="course-cart">
                      <div class="course-info-wrapper">
                        <div class="cart-info-body">
                                           <span class="category-color category-color-1"><a
                                                   href="course.html">Development</a></span>
                          <a href="course-details.html">
                            <h3>WordPress Development Course for Plugins & Themes</h3>
                          </a>
                          <div class="cart-lavel">
                            <h5>Level : <span>Beginner</span></h5>
                            <p>Knowledge is power. Information is liberating. Education is the premise of
                              progress, in every society, in every family</p>
                          </div>
                          <div class="info-cart-text">
                            <ul>
                              <li><i class="icon-check"></i>Scratch to HTML</li>
                              <li><i class="icon-check"></i>Learn how to code in Python</li>
                              <li><i class="icon-check"></i>Unlimited backend database creation</li>
                              <li><i class="icon-check"></i>Adobe XD Tutorials</li>
                            </ul>
                          </div>
                          <div class="course-action">
                            <a href="course-details.html" class="view-details-btn">View Details</a>
                            <button class="wishlist-btn"><i class="icon-like"></i></button>
                            <a href="course-details.html" class="c-share-btn"><i
                                    class="icon-share"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="student-course-footer">
                      <div class="student-course-linkter">
                        <div class="course-lessons">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                               viewBox="0 0 16.471 16.471">
                            <g id="blackboard-8" transform="translate(-0.008)">
                              <path id="Path_106" data-name="Path 101"
                                    d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                    fill="#575757" />
                            </g>
                          </svg>
                          <span class="ms-2">12 Lessons</span>
                        </div>
                        <div class="portfolio-price">
                          <span>$12.57</span>
                          <del>$24.50</del>
                        </div>
                      </div>
                      <div class="student-course-text">
                        <h3><a href="course-details.html">WordPress Development Course for Plugins & Themes</a>
                        </h3>
                      </div>
                      <div class="portfolio-user">
                        <div class="user-icon">
                          <a href="instructor-profile.html"><i class="icon-user"></i>Danial</a>
                        </div>
                        <div class="course-icon">
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star-empty"></i>
                          <span>(25)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="course-wrapper-2 mb-30">
                    <div class="student-course-img">
                      <img src="assest/images/course/course-02.jpg" alt="course-img">
                    </div>
                    <div class="course-cart">
                      <div class="course-info-wrapper">
                        <div class="cart-info-body">
                                           <span class="category-color category-color-3"><a
                                                   href="course.html">Business</a></span>
                          <a href="course-details.html">
                            <h3>Write Better Emails: Tactics for Smarter Team Communication</h3>
                          </a>
                          <div class="cart-lavel">
                            <h5>Level : <span>Beginner</span></h5>
                            <p>Knowledge is power. Information is liberating. Education is the premise of
                              progress, in every society, in every family</p>
                          </div>
                          <div class="info-cart-text">
                            <ul>
                              <li><i class="icon-check"></i>Scratch to HTML</li>
                              <li><i class="icon-check"></i>Learn how to code in Python</li>
                              <li><i class="icon-check"></i>Unlimited backend database creation</li>
                              <li><i class="icon-check"></i>Adobe XD Tutorials</li>
                            </ul>
                          </div>
                          <div class="course-action">
                            <a href="course-details.html" class="view-details-btn">View Details</a>
                            <button class="wishlist-btn"><i class="icon-like"></i></button>
                            <a href="course-details.html" class="c-share-btn"><i
                                    class="icon-share"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="student-course-footer">
                      <div class="student-course-linkter">
                        <div class="course-lessons">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                               viewBox="0 0 16.471 16.471">
                            <g id="blackboard-35744" transform="translate(-0.008)">
                              <path id="Path_10001" data-name="Path 101"
                                    d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                    fill="#575757" />
                            </g>
                          </svg>
                          <span class="ms-2">12 Lessons</span>
                        </div>
                        <div class="portfolio-price">
                          <span>FREE</span>
                        </div>
                      </div>
                      <div class="student-course-text">
                        <h3><a href="course-details.html">Write Better Emails: Tactics for Smarter Team
                          Communication</a></h3>
                      </div>
                      <div class="portfolio-user">
                        <div class="user-icon">
                          <a href="instructor-profile.html"><i class="icon-user"></i>Edustar</a>
                        </div>
                        <div class="course-icon">
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star-empty"></i>
                          <span>(25)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="course-wrapper-2 mb-30">
                    <div class="student-course-img">
                      <img src="assest/images/course/course-03.jpg" alt="course-img">
                    </div>
                    <div class="course-cart">
                      <div class="course-info-wrapper">
                        <div class="cart-info-body">
                                           <span class="category-color category-color-1"><a
                                                   href="course.html">Development</a></span>
                          <a href="course-details.html">
                            <h3>Data Science Real-Life Data Science Exercises Included</h3>
                          </a>
                          <div class="cart-lavel">
                            <h5>Level : <span>Beginner</span></h5>
                            <p>Knowledge is power. Information is liberating. Education is the premise of
                              progress, in every society, in every family</p>
                          </div>
                          <div class="info-cart-text">
                            <ul>
                              <li><i class="icon-check"></i>Scratch to HTML</li>
                              <li><i class="icon-check"></i>Learn how to code in Python</li>
                              <li><i class="icon-check"></i>Unlimited backend database creation</li>
                              <li><i class="icon-check"></i>Adobe XD Tutorials</li>
                            </ul>
                          </div>
                          <div class="course-action">
                            <a href="course-details.html" class="view-details-btn">View Details</a>
                            <button class="wishlist-btn"><i class="icon-like"></i></button>
                            <a href="course-details.html" class="c-share-btn"><i
                                    class="icon-share"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="student-course-footer">
                      <div class="student-course-linkter">
                        <div class="course-lessons">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                               viewBox="0 0 16.471 16.471">
                            <g id="blackboard-300" transform="translate(-0.008)">
                              <path id="Path_007" data-name="Path 101"
                                    d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                    fill="#575757" />
                            </g>
                          </svg>
                          <span class="ms-2">12 Lessons</span>
                        </div>
                        <div class="portfolio-price">
                          <span>$22.14</span>
                        </div>
                      </div>
                      <div class="student-course-text">
                        <h3><a href="course-details.html">Data Science Real-Life Data Science Exercises
                          Included</a></h3>
                      </div>
                      <div class="portfolio-user">
                        <div class="user-icon">
                          <a href="instructor-profile.html"><i class="icon-user"></i>Mark Hanry</a>
                        </div>
                        <div class="course-icon">
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star-empty"></i>
                          <span>(25)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="course-wrapper-2 mb-30">
                    <div class="student-course-img">
                      <img src="assest/images/course/course-04.jpg" alt="course-img">
                    </div>
                    <div class="course-cart">
                      <div class="course-info-wrapper">
                        <div class="cart-info-body">
                                           <span class="category-color category-color-3"><a
                                                   href="course.html">Business</a></span>
                          <a href="course-details.html">
                            <h3>MySQL Database : Beginner SQL Database Design</h3>
                          </a>
                          <div class="cart-lavel">
                            <h5>Level : <span>Beginner</span></h5>
                            <p>Knowledge is power. Information is liberating. Education is the premise of
                              progress, in every society, in every family</p>
                          </div>
                          <div class="info-cart-text">
                            <ul>
                              <li><i class="icon-check"></i>Scratch to HTML</li>
                              <li><i class="icon-check"></i>Learn how to code in Python</li>
                              <li><i class="icon-check"></i>Unlimited backend database creation</li>
                              <li><i class="icon-check"></i>Adobe XD Tutorials</li>
                            </ul>
                          </div>
                          <div class="course-action">
                            <a href="course-details.html" class="view-details-btn">View Details</a>
                            <button class="wishlist-btn"><i class="icon-like"></i></button>
                            <a href="course-details.html" class="c-share-btn"><i
                                    class="icon-share"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="student-course-footer">
                      <div class="student-course-linkter">
                        <div class="course-lessons">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.471" height="16.471"
                               viewBox="0 0 16.471 16.471">
                            <g id="blackboard-.0" transform="translate(-0.008)">
                              <path id="Path_002" data-name="Path 101"
                                    d="M16,1.222H8.726V.483a.483.483,0,1,0-.965,0v.74H.491A.483.483,0,0,0,.008,1.7V13.517A.483.483,0,0,0,.491,14H5.24L4.23,15.748a.483.483,0,1,0,.836.483L6.354,14H7.761v1.99a.483.483,0,0,0,.965,0V14h1.407l1.288,2.231a.483.483,0,1,0,.836-.483L11.247,14H16a.483.483,0,0,0,.483-.483V1.7A.483.483,0,0,0,16,1.222Zm-.483.965v8.905H.973V2.187Zm0,10.847H.973v-.976H15.514Z"
                                    fill="#575757" />
                            </g>
                          </svg>
                          <span class="ms-2">12 Lessons</span>
                        </div>
                        <div class="portfolio-price">
                          <span>$147.00</span>
                        </div>
                      </div>
                      <div class="student-course-text">
                        <h3><a href="course-details.html">MySQL Database : Beginner SQL Database Design</a>
                        </h3>
                      </div>
                      <div class="portfolio-user">
                        <div class="user-icon">
                          <a href="instructor-profile.html"><i class="icon-user"></i>Danial</a>
                        </div>
                        <div class="course-icon">
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star3"></i>
                          <i class="icon-star-empty"></i>
                          <span>(25)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="edu-pagination mt-30 mb-20">
                <ul>
                  <li><a href="#"><i class="icon-angle-left"></i></a></li>
                  <li class="active"><a href="#"><span>01</span></a> </li>
                  <li><a href="#"><span>02</span></a></li>
                  <li><a href="#"><i class="icon-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- course-detailes-area- end -->
  </main>

  <div th:replace="footer :: footer"></div>
<a target="_blank" href="https://api.whatsapp.com/send?phone=670533773&text=hello How can we be of help?" class="whatsapp-button">
  <i class="fab fa-whatsapp fab-3x"></i></a>
</body>
  </html>
